.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas:
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;  
}

.populares__card:last-child {
    margin-right: 0;
}



